[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
python-multipart = "*"

[dev-packages]
kagglehub = {extras = ["pandas-datasets"], version = "*"}
matplotlib = "*"
scikit-learn = "*"
numpy = "*"

[requires]
python_version = "3.12"
