[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"
python-multipart = "*"
scikit-learn = "*"
joblib = "*"
pandas = "*"
numpy = "*"
scipy = "*"

[dev-packages]
kagglehub = {extras = ["pandas-datasets"], version = "*"}
matplotlib = "*"
scikit-learn = "*"
numpy = "*"

[requires]
python_version = "3.12"
